
run = "NODE_ENV=production node src/index.mjs"
modules = ["nodejs-20:v8-20230920-bd784b9"]

[nix]
channel = "stable-24_05"

[deployment]
run = "NODE_ENV=production node src/index.mjs"
deploymentTarget = "gce"
build = ["sh", "-c", "NODE_OPTIONS='--max-old-space-size=4096' npm run build"]
ignorePorts = true

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3080
externalPort = 3000

